[Desktop Entry]
Type=Application
Version=1.0
GenericName=Bluetooth Unlock 
Name=BTUnlock 
Comment=BTUnlock 
Exec=python /home/antonio/btunlock/btunlock.py
Icon=btunlock
Terminal=false
Categories=Network;System;
StartupNotify=false

